---
Language: Cpp
BasedOnStyle: LLVM
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  AfterClass:             true
  AfterControlStatement: false
  AfterEnum:             false
  AfterFunction:         false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  AfterExternBlock:      false
  BeforeCatch:            true
  BeforeElse:             true
  IndentBraces:          false
  SplitEmptyFunction:     true
  SplitEmptyRecord:       true
  SplitEmptyNamespace:    true
BreakBeforeBraces: Custom
ColumnLimit: 0
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IncludeCategories:
  - Regex: '.*'
    Priority: 1
IndentCaseLabels: true
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
TabWidth: 2
...
